#save{
    -fx-padding: 10 25 10 25;
    -fx-background-color: "white";
    -fx-background-radius: 30;

    -fx-border-color: #56E356;
    -fx-border-width: 1.5;
    -fx-border-radius: 30;
    -fx-text-fill: #2e2b2b;
    -fx-font-weight: bold;
}
#save:hover {
    -fx-background-color:  #60FD8C ;
    -fx-border-color: #56E356;
}

#save:pressed {
    -fx-background-color:  #56E356;
    -fx-border-color: #56E356;
}
#eliminar{
    -fx-padding: 10 25 10 25;
    -fx-background-color: "white";
    -fx-background-radius: 30;

    -fx-border-color: #E3243A;
    -fx-border-width: 1.5;
    -fx-border-radius: 30;
    -fx-text-fill: "black";
    -fx-font-weight: bold;
}

#eliminar:hover {
    -fx-background-color:  #FA3E34 ;
    -fx-border-color:  #E3243A;
}

#eliminar:pressed {
    -fx-background-color:  #E3243A;
    -fx-border-color: #E3243A;
}
#login{
    -fx-padding: 10 25 10 25;
    -fx-background-color: #ffa330;
    -fx-background-radius: 60;

    -fx-border-width: 1.5;
    -fx-border-radius: 60;
    -fx-text-fill: "white";
    -fx-font-weight: bold;
}
#login:hover{
    -fx-padding: 10 25 10 25;
    -fx-background-color: #cb8526;
    -fx-background-radius: 60;

    -fx-border-width: 1.5;
    -fx-border-radius: 60;
    -fx-text-fill: "white";
    -fx-font-weight: bold;
}
#registrar{
    -fx-padding: 10 25 10 25;
    -fx-background-color: "white";
    -fx-background-radius: 60;

    -fx-border-color: #ffa330;
    -fx-border-width: 1.5;
    -fx-border-radius: 60;
    -fx-text-fill: "black";
}
#registrar:hover{
    -fx-padding: 10 25 10 25;
    -fx-background-color: #c9c9c9;
    -fx-background-radius: 60;

    -fx-border-width: 1.5;
    -fx-border-radius: 60;
    -fx-text-fill: "white";
    -fx-font-weight: bold;
}
.text-field {
    -fx-primary-color: #ffb442;
    -fx-secondary-color: #ffde8c;
    -fx-grey-color: #b9b9b9;

    -fx-focus-color: -fx-secondary-color;

    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-grey-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}
.text-field:focused {
    -fx-background-color: -fx-primary-color, white;
}
.menu{
    -fx-padding: 10 25 10 25;
    -fx-background-color: #d0ebff00;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 18;

}
.menu:hover{
    -fx-background-color: #e2e2e2a4;
    -fx-font-size: 18;
}
.titulo{
    -fx-text-fill:#af7d22;
    -fx-font-weight: bold;
    -fx-font-size: 22;

}
#modificar{
    -fx-padding: 10 25 10 25;
    -fx-background-color: white;
    -fx-background-radius: 30;
    
    -fx-border-color: #508aff;
    -fx-border-width: 1.5;
    -fx-border-radius: 30;
    -fx-text-fill: "black";
    -fx-font-weight: bold;
    -fx-font-style: italic;

}
#desplegable{
    -fx-text-fill: #267e25;
    -fx-font-size: 17;
}
#menuInterior:hover{
    -fx-background-color: #9cd29b;
    -fx-background-radius: 30;
}